<!DOCTYPE html>

<html ng-app="coala">
<head>

    <title>Open Source Events Directory - 2020</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <!-- <script type="text/javascript" src="data/faq.js"></script> -->
    <script type="text/javascript" src="data/projects.js"></script>
    <script type="text/javascript" src="data/admins.js"></script>
    <script type="text/javascript" src="vendors/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="vendors/showdown/showdown.js"></script>
    <script type="text/javascript" src="vendors/markdown/markdown.js"></script>
    <script type="text/javascript" src="resources/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="vendors/materialize/css/materialize.css">

    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="resources/css/style.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,700,700i|Roboto:100,200,300,400,500,600,700,800,900|Ubuntu+Mono|Overpass+Mono|Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />


</head>
<body>
<main>
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-get-involved" >Welcome!</div>
                <br>
                <div class="description">
                    Open Source Directory - 2020<br>
                </div>
            </div>
        </div>
    </div>
    <section>
      <div class="main-content container">
    
        <div class="col-md-8 col-md-offset-2">
          <div class="input-field col-md-10">
            <input ng-model="searchText" placeholder="Search for a project" id="search" type="text" class="validate">
          </div>
          <div class="input-field col-md-2">
            <center>
              <div><a class="explore waves-effect waves-light btn">Explore</a>
              </div>
            </center>
          </div>
        </div>
      </div>
      <section>
        <div class="container">
          <div class="row showcase">
            <div ng-repeat="project in projectList | filter: searchText" class="card card-main showcase-card">
              <div class="project-card-detail waves-effect" ng-click="lc.showProject(project)">
                <div class="card-title name-bear">{{ project.name }}</div>
                <div btf-markdown="project.desc | format_desc" class="card-content markdown"></div>
              </div>  
              <!-- <div ng-show="project.mentors.length>0" class="card-action">
                <span ng-repeat="mentor in project.mentors | limitTo:4"><a ng-href="https://github.com/{{mentor}}" class="mentors-github-id" target="_blank">{{mentor}}</a></span>
              </div> -->
    
              <div class="card-action" ng-click="lc.showProject(project)">
                <a class="waves-effect waves-light btn">Click Here</a>
              </div>          
                <!--<div ng-show="project.initiatives.length>0" class="project-overview-element clickable card-action">
              <span ng-click="search(initiative)" class="pr-element-detail chip" ng-repeat="initiative in project.initiatives">{{ initiative }}</span><br>
            </div>-->
    
             <div ng-show="project.collaborating_projects.length>0" class="project-overview-element clickable card-action">
              <span ng-click="search(project)" class="pr-element-detail chip" ng-repeat="project in project.collaborating_projects">{{ project }}</span><br>
            </div>
    
            </div>
          </div>
        </div>
      </section>
    
      <div id="modal1" class="modal">
        <div  class="modal-content-bear">
          <div class="col-md-4 profile">
            <div class="project-name">
            {{ currentProject.name }}
            </div>
            <div ng-show="currentProject.requirements.length>0" class="project-detail-element  reqs-proj">
              <div class="small-heading">Requirements</div>
              <ul class="req-ul">
              <li btf-markdown="req" class="pr-element-detail milestones markdown-reqs" ng-repeat="req in currentProject.requirements"></li>
              </ul>
              <br>
            </div>
    
            <!--<div ng-show="currentProject.initiatives.length>0" class="project-detail-element">
              <div class="small-heading">Initiatives</div>
              <span class="pr-element-detail chip" ng-repeat="initiative in currentProject.initiatives">{{ initiative }}</span><br>
            </div>-->
    
            <div ng-show="currentProject.collaborating_projects.length>0" class="project-detail-element">
              <div class="small-heading">Collaborating Projects</div>
              <span class="pr-element-detail chip" ng-repeat="project in currentProject.collaborating_projects">{{ project }}</span><br>
            </div>
    
            <div ng-show="currentProject.tags.length>0" class="project-detail-element">
              <div class="small-heading">Tags</div>
              <span class="pr-element-detail chip" ng-repeat="tags in currentProject.tags">{{ tags }}</span>
            </div>
    
            <div ng-show="currentProject.target" class="project-detail-element">
              <div class="small-heading">For Whom</div>
              <span class="pr-element-detail chip">{{ currentProject.target }}</span>
            </div>
    
            <!-- <div ng-show="currentProject.mentors.length>0" class="project-detail-element">
              <div class="small-heading">Mentors</div>
              <span class="pr-element-detail chip" ng-repeat="mentor in currentProject.mentors">@{{mentor}}</span>
            </div> -->
    
            <div ng-show="currentProject.issues.length>0" class="project-detail-element">
              <div class="small-heading">Related Issues</div>
              <span ng-click="redirect(issue)" class="pr-element-detail chip clickable" ng-repeat="issue in currentProject.issues">{{ issue | format_issue }}</span>
            </div>
            <br>
          </div>
    
          <div class="col-md-8 dashboard">
            <div btf-markdown ng-include="'data/projects/' + currentProject.markdown" class="project-description markdown">
            </div>
          </div>  
    
          </div>
     </div>
    </section>
</main>
<footer class="page-footer">
    <div class="row footer-coala-row">
      <div class="col-md-6 col-md-offset-3 center">
        <img class="footer-logo" src="../../../images/logo-black.png"/>
      </div>

    </div>
    <div class="footer-text">
        <h6>Projects page powered by <a href="https://github.com/coala/projects" target="_blank">Coala - Projects</a></h6>
    </div>
</footer>

</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
      $('.explore').click(function () {
        $('html,body').animate({
          scrollTop: $(".showcase").offset().top},
          'slow');
      })
  
      $('.modal').modal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: 0.8, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '10%', // Starting top style attribute
        ending_top: '10%', // Ending top style attribute
        ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
        },
        complete: function() {  } // Callback for Modal close
      }
      );
    })
</script>


<script type="text/javascript">
$(document).ready(function () {
    $('select').material_select();
    //$('ul.tabs').tabs();
    $('.github-card').html('<img src="http://placehold.it/100x100" />')
})
</script>
  
<!-- Google Analytics Code -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-86435545-2', 'auto');
    ga('send', 'pageview');

</script>
