<div class="main-content container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="title-get-involved" >Welcome!</div>
            <br>
            <div class="description">
                Open Source Evenets - 2020<br>
            </div>
        </div>
    </div>
</div>
<section>
  <div class="main-content container">

    <div class="col-md-8 col-md-offset-2">
      <div class="input-field col-md-10">
        <input ng-model="searchText" placeholder="Search for an event" id="search" type="text" class="validate">
      </div>
      <div class="input-field col-md-2">
        <center>
          <div><a class="explore waves-effect waves-light btn">Explore</a>
          </div>
        </center>
      </div>
    </div>
  </div>
  <section>
    <div class="container">
      <div class="row showcase">
        <div ng-repeat="project in projectList | filter: searchText" class="card card-main showcase-card">
          <div class="project-card-detail waves-effect">
            <div class="card-title name-bear">{{ project.name }}</div>
            <div btf-markdown="project.desc | format_desc" class="card-content markdown"></div>
          </div>  

          <div ng-show="project.dates.length>0" class="card-action">
            <span>
              {{project.dates}}
            </span>
          </div>

          <div ng-show="project.target.length>0" class="card-action">
            <span> Event for: 
              {{project.target}}
            </span>
          </div>

          <img ng-src="{{project.image}}"> 

          <div class="card-action" >
            <a class="waves-effect waves-light btn" ng-href="{{project.eventurl}}" target="_blank">Go to Event</a>
          </div>  
        
          <div ng-show="project.tags.length>0" class="project-overview-element clickable card-action">
            <span class="pr-element-detail chip" ng-repeat="tag in project.tags">{{ tag }}</span><br>
          </div>

          
        </div>
      </div>
    </div>
  </section>

</section>

<script type="text/javascript">
  $(document).ready(function () {
    $('.explore').click(function () {
      $('html,body').animate({
        scrollTop: $(".showcase").offset().top},
        'slow');
    })

    $('.modal').modal({
      dismissible: true, // Modal can be dismissed by clicking outside of the modal
      opacity: 0.8, // Opacity of modal background
      in_duration: 300, // Transition in duration
      out_duration: 200, // Transition out duration
      starting_top: '10%', // Starting top style attribute
      ending_top: '10%', // Ending top style attribute
      ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
      },
      complete: function() {  } // Callback for Modal close
    }
    );
  })
</script>
