@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?55563755');
  src: url('../font/fontello.eot?55563755#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?55563755') format('woff2'),
       url('../font/fontello.woff?55563755') format('woff'),
       url('../font/fontello.ttf?55563755') format('truetype'),
       url('../font/fontello.svg?55563755#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?55563755#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-camera:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-music:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e811'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-ok:before { content: '\e815'; } /* '' */
.icon-cancel:before { content: '\e816'; } /* '' */
.icon-plus:before { content: '\e817'; } /* '' */
.icon-minus:before { content: '\e818'; } /* '' */
.icon-link-ext-alt:before { content: '\e820'; } /* '' */
.icon-bookmark:before { content: '\e829'; } /* '' */
.icon-upload-cloud:before { content: '\e832'; } /* '' */
.icon-code:before { content: '\e836'; } /* '' */
.icon-pencil:before { content: '\e839'; } /* '' */
.icon-retweet:before { content: '\e83d'; } /* '' */
.icon-trash-1:before { content: '\e845'; } /* '' */
.icon-doc-text-inv:before { content: '\e848'; } /* '' */
.icon-file-pdf:before { content: '\e849'; } /* '' */
.icon-file-word:before { content: '\e84a'; } /* '' */
.icon-file-excel:before { content: '\e84b'; } /* '' */
.icon-file-powerpoint:before { content: '\e84c'; } /* '' */
.icon-cog:before { content: '\e851'; } /* '' */
.icon-calendar:before { content: '\e854'; } /* '' */
.icon-down-open:before { content: '\e85b'; } /* '' */
.icon-left-open:before { content: '\e85c'; } /* '' */
.icon-right-open:before { content: '\e85d'; } /* '' */
.icon-up-open:before { content: '\e85e'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-fork:before { content: '\f126'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */