.item {
  width: 250px;
  height: 250px;
  background-color: #eee;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  cursor: pointer;
}

.main-container {
  padding-top: 75px;
}

.hidden {
  visibility: hidden;
}

.logo {
  vertical-align: bottom;
  margin-right: 10px;
}

.open-source-title {
  font-size: 17px;
  font-family: Helvetica;
  color: white;
}

.hero-unit {
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto;
}

.hero-unit h1 {
  text-align: center;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('/images/gears.gif') no-repeat center center;
}

.btn_git {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}