body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family:'Montserrat', sans-serif !important;
}

.item {
  max-width: 100%;
  min-height: 250px;
  background-color: #eee;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  cursor: pointer;
}


.item {
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0,0,0,0);
}

.item:hover {
  box-shadow: inset 0 0 0 4px #666, 0 0 1px rgba(0,0,0,0);
}

.item .name {
  overflow-wrap: break-word;
}

.main-container {
  padding-top: 75px;
}

.hidden {
  visibility: hidden;
}

.logo {
  vertical-align: bottom;
  margin-right: 10px;
    width: 150px;
}

.open-source-title {
  font-size: 17px;
  font-family: Helvetica;
  color: white;
}

.hero-unit {
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
  width: 50%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .hero-unit {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hero-unit .hero-para {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 17px;
  }
}

.hero-unit h2 {
  text-align: center;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url('/images/gears.gif') no-repeat center center;
}

.btn_git {

    position: relative;
    display: inline-block;
    padding: 4px 6px;
    font-size: 12px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    
}

.language-tags {
  position: absolute;
  bottom: 0%;
  padding-bottom: 10px;
}

.tag {
  width: initial;
  min-width: 15px;
  padding: 5px 8px;
  max-width: 100%;
  margin: 2px;
  border-radius: 3px;
}

.proj-disc{
  height: 100px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 400;
  padding: 13px 0 0 5px;
}

.success{
    background: red;
}

.project-label-red{
    background: #f0263e;
}
.project-label-green{
    background: #2db551;
}
.project-label-blue{
    background: #3fc8f4;
}
.project-label-orange{
    background: #f58031;
}.project-label-yellow{
    background: #fbda11;
}
.project-label-purple{
    background: #dabfde;
}
.project-label-brown{
    background: #a52a2a;
}
.project-label-cadetblue{
    background: #5f9ea0;
}
.project-label-cornflowerblue{
    background: #6495ed;
}
.project-label-tomato{
    background: #ff6347;
}


@media only screen and (min-width: 768px) {
  .nav-elements {
    margin-top: 18px !important;
    float: right !important;
  }

}

.actor-avatar {
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 2px;
}

.organization-repo-event {
  border-bottom: 1px solid #eeeeee;
  padding: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.time-stamp {
  color: rgb(210, 195, 210);
  font-size: 10px;
}

.action.action-closed {
  background: #cb2431;
  color: white;
}

.action.action-merged {
  background: #6f42c1;
  color: white;
}

.action.action-opened {
  background: #2cbe4e;
  color: white;
}

.action {
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.commits-list {
  list-style: none;
}

.commits-list li a {
  padding: 0px;
  font-size: 10px;
  color: #9E9E9E;
  text-overflow: ellipsis;
  overflow: hidden;
}