name: Dependabot - auto-merge & auto-approve

on: pull_request

permissions:
  contents: write
  pull-requests: write

jobs:
  dependabot:
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: '[Dependabot] Enable auto-merge for PR#${{github.event.pull_request.number}}'
        run: |
          gh pr merge \
            --auto \
            --squash \
            "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}

      - name: '[Dependabot] Approve PR for PR#${{github.event.pull_request.number}}'
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.GITHUB_TOKEN}}